.App {
	cursor: pointer;
}
.tooltip {
	background-color: aliceblue;
	padding: 10px;
	position: absolute;
	width: fit-content;
	z-index: 100;
	line-height: 0.5em;
	text-align: left;
	border-radius: 5px;
	border: 1px solid #CDE6FC;
}
.legend {
	background-color: aliceblue;
	line-height: 1.2em;
	text-align: right;
	z-index: 80;
	position: absolute;
	right: 0;
	padding: 10px;
	width: 20vw;
	border-bottom-left-radius: 5px;
}